.footerContainer {
  background: var(--color-primary);
  padding: 16px 24px;
  border-top: solid 1px var(--color-border);
  // height: var(--height-footer);
  box-sizing: border-box;
  color: #aaa;
  display: flex;
  justify-content: center;

  .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: var(--color-primary);
  }
  a {
    color: #aaa;
    text-decoration: none;
    cursor: pointer;
    display: flex;
    align-items: center;

    fa-icon {
      margin-right: .25em;
      font-size: 1.5em !important;
    }
  }
  a:hover {
    text-decoration: underline;
  }
  .contentContainer {
    display: flex;
    flex-direction: column;

    .column {
      flex: 1;
      
      &.use {
        display: none;
      }
      &.find,
      &.connect {

        .linksContainer {
          display: flex;
          flex-wrap: wrap;

          > div:nth-child(odd) {
            margin-right: 15px;
          }
        }
      }
      &.connect {
        margin-top: 20px;
      }
      h4 {
        margin: .3em 0 .6em;
      }
      .linksContainer {
        >div {
          margin-bottom: 6px;
        }
      }
    }
  }
  .bottomContainer {
    text-align: center;
    margin-top: .5em;

    .linksWrapper {
      display: flex;
      justify-content: space-around;

      > a {
        text-align: center;
      }
    }
  }
  @media (min-width: 768px) {
    .contentContainer {
      flex-direction: row;
      
      .column {

        &.use {
          display: block;
        }
        &.find,
        &.connect {

          .linksContainer {
            display: block;
  
            > div:nth-child(odd) {
              margin-right: 0;
            }
          }
        }
        &.connect {
          margin-top: 0;
        }
      }
    }
    .bottomContainer {
      display: flex;
      text-align: left;
  
      .linksWrapper {
        justify-content: flex-start;
  
        > a:after {
          content: "\2022";
          display: inline-block;
          margin: 0 8px;
        }
        > a:last-child {
          &:after {
            display: none;
          }
        }
      }
      .spacer,
      .copyright {
        flex: 1;
      }
    }
  }
}
