<div 
  class="navBarContainer" 
  [ngClass]="utilService.scrollDirection === 'down' ? 'hidden' : null" 
  id="navBar"
>
  <div class="navBarWrapper">
    <div class="barWrapper">
      <div *ngFor="let link of links;" class="desktopNav">
        <div><a (click)="scrollTo(link)">{{link}}</a></div>
      </div>
      <div class="mobileNav">
        <button class="menuBtn" mat-button [matMenuTriggerFor]="menu"><mat-icon>menu</mat-icon></button>
        <mat-menu #menu="matMenu" [overlapTrigger]="false" xPosition="before">
          <button mat-button *ngFor="let link of links;" (click)="scrollTo(link)"><a>{{link}}</a></button>
        </mat-menu>
      </div>
    </div>
  </div>
</div>