<app-pagewrapper>
  <div class="portfolioContainer">
    <div class="headerContainer" id="Home">
      <div class="frame">
        <div class="frame__title-wrap">
          <h1 class="frame__title">Brendan Lynch</h1>
          <h2>Web Applications Developer</h2>
          <button mat-stroked-button (click)="scrollTo('About')">View My Portfolio</button>
          <a 
            href="https://drive.google.com/file/d/1k1D70poTFTOK4Pxa8vH2m6NAQMnrR2U0/view" 
            target="_blank" 
            rel="nofollow"
          >
            <button mat-stroked-button>View My Resume</button>
          </a>
        </div>
      </div>
      <div class="content content--canvas"></div>
    </div>
    <div class="aboutContainer" id="About">
      <div class="sectionTitleWrapper">
        <h1>About</h1>
        <div class="underline"></div>
      </div>
      <div class="badgesWrapper">
        <div *ngFor="let badge of badges;" class="badge">
          <div class="octagon">
            <fa-icon [icon]="badge.icon"></fa-icon>
          </div>
          <div>
            <h3>{{badge.title}}</h3>
            <p>{{badge.content}}</p>
          </div>
        </div>
      </div>
      <div class="aboutWrapper">
        <div class="octoProfile"></div>
        <div class="content">
          <p>The software development industry moves fast and I take pride in keeping up with and adhering to current standards. With an efficient work flow and experience taking applications from the design phase to data modeling to front end display to back end processing to SEO boosting I have experience across the modern tech stack to take projects from start to finish.</p>
          <p>With extensive JS experience I can reasonably jump from framework to framework with a bit of practice. I am comfortable working with local and offshore teams to bring a product vision to reality. I take pleasure in tackling tasks on varoious sides of the tech stack and playing a utility role within teams.</p>
        </div>
      </div>
    </div>
    <div class="projectsContainer" id="Projects">
      <div class="sectionTitleWrapper">
        <h1>Projects</h1>
        <div class="underline"></div>
      </div>
      <div class="projectsWrapper">
        <div 
          *ngFor="let project of projects;" 
          class="project" 
          [ngStyle]="{ 'background-image': 'url(' + project.thumbnail + ')'}"
        >
          <div class="overlay">
            <h3 class="title">{{project.title}}</h3>
            <h4 class="subtitle">{{project.subtitle}}</h4>
            <button mat-stroked-button (click)="openProject(project)" color="accent">Learn More</button>
          </div>
        </div>
      </div>
    </div>
    <div class="contactContainer" id="Contact">
      <svg preserveAspectRatio="none" viewBox="0 0 100 102" height="75" width="100%" version="1.1" xmlns="http://www.w3.org/2000/svg" class="svgcolor-light">
        <path d="M0 0 L50 100 L100 0 Z" fill="white" stroke="white"></path>
      </svg>
      <div class="sectionTitleWrapper">
        <h1>Conact Me</h1>
        <div class="underline"></div>
      </div>
      <div class="text">If you would like to reach out please drop me a line at my email or one of the following social media services. I'm always interested in hearing about opportunities.</div>
      <div class="socialWrapper">
        <div *ngFor="let social of socials;">
          <a [href]="social.url" target="_blank" rel="nofollow" *ngIf="social.type !== 'email'"><button mat-button><fa-icon [icon]="social.icon"></fa-icon></button></a>
          <button mat-button *ngIf="social.type == 'email'" (click)="sendEmail()"><fa-icon [icon]="social.icon"></fa-icon></button>
        </div>
      </div>
    </div>
  </div>
</app-pagewrapper>

<!-- <router-outlet></router-outlet> -->
